apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: microservices-prd
resources:
- ../../base
namePrefix: ''
nameSuffix: ''
commonLabels:
  environment: prd
  app.kubernetes.io/environment: prd
images:
- name: us-central1-docker.pkg.dev//microservice-registery/poem-service
  newName: us-central1-docker.pkg.dev//microservice-registery/poem-service
  newTag: 96b3000637b7828b6054b40eff35c253c7b8768d
- name: us-central1-docker.pkg.dev//microservice-registery/quote-service
  newName: us-central1-docker.pkg.dev//microservice-registery/quote-service
  newTag: 96b3000637b7828b6054b40eff35c253c7b8768d
- name: us-central1-docker.pkg.dev//microservice-registery/frontend
  newName: us-central1-docker.pkg.dev//microservice-registery/frontend
  newTag: 96b3000637b7828b6054b40eff35c253c7b8768d
patches:
- path: namespace-patch.yaml
  target:
    kind: Namespace
- path: configmap-patch.yaml
  target:
    kind: ConfigMap
replicas:
- name: poem-service
  count: 3
- name: quote-service
  count: 3
- name: frontend
  count: 3
