apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: microservices-dev
resources:
- ../../base
namePrefix: ''
nameSuffix: ''
commonLabels:
  environment: dev
  app.kubernetes.io/environment: dev
images:
<<<<<<< HEAD
  - name: us-central1-docker.pkg.dev/fast-pagoda-474409-c7/microservice-registery/poem-service
    newName: us-central1-docker.pkg.dev/fast-pagoda-474409-c7/microservice-registery/poem-service
    newTag: latest
  - name: us-central1-docker.pkg.dev/fast-pagoda-474409-c7/microservice-registery/quote-service
    newName: us-central1-docker.pkg.dev/fast-pagoda-474409-c7/microservice-registery/quote-service
    newTag: latest
  - name: us-central1-docker.pkg.dev/fast-pagoda-474409-c7/microservice-registery/frontend
    newName: us-central1-docker.pkg.dev/fast-pagoda-474409-c7/microservice-registery/frontend
    newTag: latest

=======
- name: us-central1-docker.pkg.dev//microservice-registery/poem-service
  newName: us-central1-docker.pkg.dev//microservice-registery/poem-service
  newTag: 96b3000637b7828b6054b40eff35c253c7b8768d
- name: us-central1-docker.pkg.dev//microservice-registery/quote-service
  newName: us-central1-docker.pkg.dev//microservice-registery/quote-service
  newTag: 96b3000637b7828b6054b40eff35c253c7b8768d
- name: us-central1-docker.pkg.dev//microservice-registery/frontend
  newName: us-central1-docker.pkg.dev//microservice-registery/frontend
  newTag: 96b3000637b7828b6054b40eff35c253c7b8768d
>>>>>>> b8cafe148d36be860289c22e41b51fed672df8ba
patches:
- path: namespace-patch.yaml
  target:
    kind: Namespace
- path: configmap-patch.yaml
  target:
    kind: ConfigMap
replicas:
- name: poem-service
  count: 2
- name: quote-service
  count: 2
- name: frontend
  count: 2
